<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
    <title>Login</title>
  </head>
  <body>
    <h1>Login!</h1>
    <form method="POST" action="">
      <label for="title">Login</label>
      <br>
      {{ form.hidden_tag() }}
      <label for="username">Username: </label>
      {{ form.username }}
      <br>
      <label for="password">Password: </label>
      {{ form.password }}
      <br>
      {{ form.submit }}

      <input type="submit" value="Login"/>
    </form>

    <a href="{{ url_for('register') }}">Don't have an account? Sign Up</a>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename = 'login.js') }}"></script> -->

  </body>

</html>
