<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Register</title>
  </head>
  <body>
    <h1>register!</h1>
    <form method="POST" action="">
      <label for="title">Register</label>
      <br>
      {{ form.hidden_tag() }}
      <label for="username">Username: </label>
      {{ form.username }}
      <br>
      <label for="email">Email: </label>
      {{ form.email }}
      <br>
      <label for="password">Password: </label>
      {{ form.password }}
      <br>
      {{ form.submit }}

      <input type="submit" value="Register"/>
      
  </form>
  </body>

</html>
